<div class=" h-screen flex flex-col items-center justify-center">
  <h1 class="text-6xl text-white text-center font-bold w-full" style="text-shadow: 0 0 10px rgba(0,0,0,0.5)">
    クイズページ
  </h1>
</div>
