<h1 class="text-6xl text-white text-center font-bold w-full" style="text-shadow: 0 0 10px rgba(0,0,0,0.5)">
  ゲームを通じてヒスイを見分けられるようになろう！
</h1>
<div class="mb-20 grid grid-cols-1 gap-4">
  <%= render "layouts/game start button" %>
  <%= render "layouts/button to learn about jade" %>
</div>
