<div class="bg-green-300 h-screen flex flex-col items-center justify-center">
  <h1 class="text-6xl text-white text-center font-bold w-full" style="text-shadow: 0 0 10px rgba(0,0,0,0.5)">
    ゲームを通じてヒスイを見分けられるようになろう！
  </h1>
  <%= render "layouts/game start button" %>
  <%= render "layouts/button to learn about jade" %>
</div>
