<!-- Footer -->
<footer class="margin-bottom inset-x-0 h-17 ">
  <div class=" max-w-7xl mx-auto px-4 text-center py-2">
    <p class="text-gray-500 mb-0 ">© Hisui master guild All rights reserved.</p>
  </div>
</footer>
